.service-5-2
{
	color: #FFA500;
}
.service-5-1
{
	color: #000080;
}


.service-5-3
{
	color: #FF0000;
}
.service-5-4
{
	color: #800000;
}
.service-1-2
{
	color: #ff5050;
}
.service-1-8
{
	color: #cc0000;
}

.TC {
	background: #FDF5E6;
}
